<p>home works!</p>

<a routerLink="">Page1</a> 
<a [routerLink]="['/Page2',myid]" >Page2</a>
<a [routerLink]="['/Page3',myid,myUsername]">Page3</a>
<a routerLink="/Follower">Follower</a>
<a routerLink="/QueryParameter" [queryParams]="jsonObj">QueryParameter</a>
<hr>
<button (click)="onpage1()" >Page1</button>
<button (click)="onpage2()" >Page2</button>
<button (click)="onpage3()" >Page3</button>
<button (click)="onFollower()" >Follower</button>
<button (click)="onQueryparam()" >Queryparam</button>

<router-outlet></router-outlet>