
.success{
  color: green;
}

.danger{
  color: red;
}

.warning{
  color: orange;
}
.special{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  font-style: italic;
}