<!-- <app-header></app-header> -->

<div class="container-fluid">
  <app-header></app-header>

    <div class="row">
        <div class="col">
          <br>
          <div>
            <button routerLink="/AddEmployee" class="btn btn-success">Add Employee</button>
            <button (click)="OnUpdate(popUp)" class="btn btn-warning">Update Employee</button>
            <button (click)="onDelete()" class="btn btn-danger">Delete Employee</button>

            <div class="form-group" class="pull-right" style="margin-top: 10px;">
              <div class="input-group-prepend">
                  <span class="input-group-text" style="font-size: 1em;">
                      <i class="fa fa-search"></i></span>
                      <input type="text" class="form-control" placeholder="Search"
                      style="width: min-content;" [(ngModel)]="nameSearch">
                 </div>
            </div>
          </div>

          <ng-template #popUp >
            <app-update-employee [parentdata]="empobj"></app-update-employee>
            <button class="btn btn-danger" (click)="modalRef.hide()" >Cancel</button>
         </ng-template>

          <br>
          <table class="table table-bordered table-hover">
            <thead>
              <th>#</th>  
              <th>Action</th> 
              <th>Name</th>
              <th>Department</th>
              <th>Status</th>
              <th>Created date</th>
              <th>Upadatated date</th>
              <th>Country</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of empdata | paginate: { itemsPerPage: 5, currentPage: p } | filter:nameSearch ;index as i">
                  <td> {{i+1}} </td>
                  <td> <input type="radio" name="record" (click)="onradio(item)" > </td>
                  <td> <a [routerLink]="['/EmpDetails',item.id]">{{item.name}}</a>  </td>
                  <td> {{item.departmentit}} </td>
                  <td> <h5><span
                      [ngClass]="{
                        'badge':true,'badge-pill':true,
                        'badge-danger':item.status.toLowerCase()=='suspend',
                         'badge-success':item.status.toLowerCase()=='active',
                        'badge-warning':item.status.toLowerCase()=='inactive'

                      }"  
                    style="padding: 8px;">{{item.status}}</span></h5> </td>
                  <td> {{item.createddtm|date:'dd-MM-yyyy'}} </td>
                  <td> {{item.updateddtm|date}} </td>
                  <td> {{item.country.cname}} </td>
              </tr>

            </tbody>

          </table>
          <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
          
        </div>

    </div>

</div>
