<h2>My First Angular Application </h2>

<!-- <app-employee></app-employee> -->



<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-if-directive></app-if-directive> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-task5></app-task5> -->
<!-- <app-switchdirective></app-switchdirective> -->
<app-parent></app-parent>